:root {
  /* Neutrals */
  --neutral-900: hsl(226, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradient */
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  --bg-gradient: var(--light-gradient);
  --surface-primary: var(--neutral-0);
  --text-primary: var(--neutral-800);
  --text-secondary: var(--neutral-600);
  --button-toggle-bg: var(--neutral-100);
  --shadow-card: 0 1px 4px var(--neutral-200);
  --icon-primary: var(--red-700);
  --icon-text: var(--neutral-900);
  --button-hover: var(--neutral-300);
  --text-heading: var(--neutral-800);
  --button-bg-default: var(--neutral-0);
  --border-default: var(--neutral-300);
  --button-active-bg: var(--red-500);
  --text-button-hover: var(--neutral-0);
  --switch-bg: var(--neutral-300);
}
[data-theme="dark"] {
  --bg-gradient: var(--dark-gradient);
  --surface-primary: var(--neutral-800);
  --text-primary: var(--neutral-100);
  --text-secondary: var(--neutral-300);
  --button-toggle-bg: var(--neutral-700);
  --shadow-card: none;
  --icon-primary: var(--red-400);
  --icon-text: var(--neutral-0);
  --button-hover: var(--neutral-600);
  --text-heading: var(--neutral-100);
  --button-bg-default: var(--neutral-700);
  --text-button-primary: var(--neutral-100);
  --border-default: var(--neutral-600);
  --button-active-bg: var(--red-400);
  --text-button-hover: var(--neutral-900);
  --switch-bg: var(--neutral-600);
}
body {
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: 0;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Start Header */
header {
  margin-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .container {
  background-color: var(--surface-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: var(--shadow-card);
}
header .logo svg {
  max-width: 150px;
}
header .logo svg .pic {
  fill: var(--icon-primary);
}
header .logo svg .txt {
  fill: var(--icon-text);
}
header .light-dark-toggle .toggle-button {
  background-color: var(--button-toggle-bg);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 11px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
header .light-dark-toggle .toggle-button:hover {
  background-color: var(--button-hover);
}
header .light-dark-toggle .toggle-button img {
  max-width: 19px;
}
header.dark .light-dark-toggle .toggle-button {
  background-color: var(--neutral-700);
}
/* End Header */
/* Start Extenstions */
.extensions-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .extensions-control {
    display: block;
    text-align: center;
  }
}
.extensions-control h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--text-heading);
}
.extensions-control .filter-buttons {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .extensions-control .filter-buttons {
    justify-content: center;
    margin-top: 20px;
  }
}
.extensions-control .filter-buttons button {
  display: block;
  background-color: var(--button-bg-default);
  color: var(--text-primary);
  padding: 9px 18px;
  border-radius: 22px;
  cursor: pointer;
  border: 1px solid var(--border-default);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: var(--shadow-card);
}
.extensions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.extensions-list .extension-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--surface-primary);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--border-default);
}
.extensions-list .extension-card .card-header {
  display: flex;
  gap: 20px;
}
.extensions-list .extension-card .card-header .text .extension-name {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--text-primary);
}
.extensions-list .extension-card .card-header .text .description {
  margin: 0;
  line-height: 1.6;
  font-size: 0.9rem;
  color: var(--text-secondary);
}
.extensions-list .extension-card .card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.extensions-list .extension-card .card-actions .remove-button {
  color: var(--text-primary);
  border: 1px solid red;
  padding: 6px 12px;
  border-radius: 18px;
  border: 1px solid var(--border-default);
  letter-spacing: -1px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.extensions-list .extension-card .active-toggle {
  display: flex;
  align-items: center;
}
.extensions-list .extension-card .active-toggle .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}
.extensions-list .extension-card .active-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.extensions-list .extension-card .active-toggle .slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--switch-bg);
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.extensions-list .extension-card .active-toggle input:checked + .slider {
  background-color: var(--red-400);
}
.extensions-list .extension-card .active-toggle .slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: 0.3s;
}
.extensions-list
  .extension-card
  .active-toggle
  input:checked
  + .slider::before {
  transform: translate(20px);
}
/* End Extenstions */
/* Classes */
.on-focus:focus {
  outline: 2px solid var(--red-400);
  outline-offset: 2px;
}
.highlight-effect:hover,
.highlight-effect.active {
  background-color: var(--button-active-bg) !important;
  color: var(--text-button-hover) !important;
  border-color: transparent !important;
}
